.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
# 忽略 content 目录下的所有内容
content/**

# 不忽略 content/Public 目录
!content/Public/

# 不忽略 content/Public 目录下的所有内容
!content/Public/**
